<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> -->

{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock %}




   


{% block content %}
 <H1>HELLO WORLD</H1>

    <a href="{% url 'lines' %}">line</a>
    <br>
    <a href="{% url 'register' %}">register</a>
     <a href="{% url 'loginpage' %}">login</a>
{% endblock %}
